.myPosts {
  padding: 10px;
}

.newPost {
  margin-bottom: 10px;
}

.input {
  width: 200px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  margin-right: 10px;
}

.btn {
  font-weight: 700;
  display: inline-block;
  height: 40px;
  background: blue;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color .2s linear, color .2s linear;
}

.btn:hover {
  color: blue;
  background: #ccc;
}