.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  color: #fff;
  font-size: 20px;
}

.dialogsItems {
  padding: 10px;
}

.dialog {
  color: #000;
  text-decoration: none;
  height: 30px;
}

.dialog:hover {
  color: red;
}

.dialog a {
  font-weight: 700;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
  transition: font-size 0.3s ease;
}

.dialog a.active {
  color: red;
  font-size: 22px;
}

.messages {
  padding: 10px;
  color: #000000;
}

.message {

}
